<h1>Faça seu cadastro</h1>
<form action="/add-usuarios" method="POST">
    <label>Nome</label>
    <input type="text" name="nome">
<br>
    <label>E-mail</label>
    <input type="text" name="email">
<br>
    <label>Matricula</label>
    <input type="number" name="matricula">
<br>
    <label>Curso</label>
    <input type="text" name="curso">
<br>
    <label>Senha</label>
    <input type="password" name="senha">
<br>
    <button type="submit">Próxima etapa</button>
</form>
