
         <div class="login_body">
         <div class="login_box">
            <div class="form-image">
                <span><img height="40px" src="imagens/rose.png" alt="logo"></span>
<form action="/add-usuarios" method="POST">
                    <div class="input_grup">
                    <h1>Faça seu cadastro</h1>
                    <form action="/add-usuarios" method="POST">
                        <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="nome" placeholder="Nome Completo"></div>
                    <br>
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="email" placeholder="E-mail"></div>
                    <br>
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="number" name="matricula" placeholder="Matricula"></div>
                    <br>
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="curso" placeholder="Curso"></div>
                    <br>
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="password" name="senha" placeholder="Senha"></div>
                    
                    <br>
                    <br>
                    
                    <h1>Escolha as opções que mais se parece com você</h1>
                        <div class="input-box">
                        <label for="musicas" class="names">Músicas</label>
                        <select id="musicas" name="musicas" placeholder="Musicas">
                           <option invalue="selecionar"></option>
                            <option value="Pop">Pop</option>
                            <option value="Rock">Rock</option>
                            <option value="Rap">Rap</option>
                            <option value="Funk">Funk</option>
                            <option value="Indie">Indie</option>
                            <option value="Axé">Axé</option>
                            <option value="Pagode">Pagode</option>
                            <option value="R&B">R&B</option>
                            <option value="Metal">Metal</option>
                            <option value="Sertanejo">Sertanejo</option>
                        </optgroup>
                    </select>
                        </div>
                        <br>
        
                        <div class="input-box">
                        <label for="jogos" class="names">Jogos</label>
                        <select id="jogos" name="jogos">
                            <option invalue="selecionar"></option>
                            <option value="League of Legends">League of Legends</option>
                            <option value="Fall Guys">Fall Guys</option>
                            <option value="GTA">GTA</option>
                            <option value="Call of Duty">Call of Duty</option>
                            <option value="Fortnite">Fortnite</option>
                            <option value="DOTA">Dota</option>
                            <option value="Valorant">Valorant</option>
                            <option value="Undertale">Undertale</option>
                            <option value="Minecraft">Minecraft</option>
                            <option value="Rocket League">Rocket League</option>
                        </optgroup>
                    </select>
                        </div>
                        <br>
        
                        <div class="input-box">
                        <label for="filmes" class="names">Filmes</label>
                        <select id="filmes" name="filmes">
                            <option invalue="selecionar"></option>
                            <option value="Ação e Aventura">Ação e Aventura</option>
                            <option value="Drama">Drama</option>
                            <option value="Comédia Romantica">Comédia romântica</option>
                            <option value="Ficção Cientifica">Ficção científica</option>
                            <option value="Terror">Terror</option>
                            <option value="Comedia">Comédia</option>
                            <option value="Romance">Romance</option>
                            <option value="Suspense">Suspense</option>
                            <option value="Animação">Animação</option>
                            <option value="Documentário">Documentário</option>
                        </optgroup>
                    </select>
                        </div>
                        <br>
                        
                        <div class="input-box">
                        <label for="livros" class="names">Livros</label>
                        <select id="livros" name="livros">
                            <option invalue="selecionar"></option>
                                <option value="Não Ficção">Não Ficção</option>
                                <option value="Ficção Literária">Ficção literária</option>
                                <option value="Fantasia">Fantasia</option>
                                <option value="Suspense">Suspense</option>
                                <option value="Ficção Cientifica">Ficção científica</option>
                                <option value="Poesia">Poesia</option>
                                <option value="Horror">Horror</option>
                                <option value="Romance">Romance</option>
                                <option value="Ação e Aventura">Ação e Aventura</option>
                                <option value="Distopia">Distopia</option>
                            </optgroup>
                        </select>
                              </div>
                              <br>
        
                        <div class="input-box">
                        <label for="esportes" class="names">Esportes</label>
                        <select id="esportes" name="esportes">
                            <option invalue="selecionar"></option>
                                    <option value="Futebol">Futebol</option>
                                    <option value="Voleibol">Voleibol</option>
                                    <option value="Basquete">Basquete</option>
                                    <option value="Esportes Automobilisticos">Esportes automobilísticos</option>
                                    <option value="MMA">MMA</option>
                                    <option value="Tênis">Tênis</option>
                                    <option value="Futebol Americano">Futebol americano</option>
                                    <option value="Rugby">Rugby</option>
                                    <option value="Ginástica">Ginástica</option>
                                    <option value="Atletismo">Atletismo</option>
                                </optgroup>
                            </select>
                        </div>
                        <br>
                    
                        <div class="input-box">
                        <label for="educação" class="names">Educação</label>
                        <select id="educação" name="educação">
                            <option invalue="selecionar"></option>
                                        <option value="Matemática">Matemática</option>
                                        <option value="Química">Química</option>
                                        <option value="Física">Física</option>
                                        <option value="Programação">Programação</option>
                                        <option value="Eletrônica">Eletrônica</option>
                                        <option value="Filosofia">Filosofia</option>
                                        <option value="Astronomia">Astronomia</option>
                                        <option value="Automotiva">Automotiva</option>
                                        <option value="Geografia">Geografia</option>
                                        <option value="Biologia">Biologia</option>
                                    </optgroup>
                    </select>
                        </div>
                        <br>
                        <br>

                    <h1>Deixe aqui o link das suas redes sociais para que suas conexões possam entrar em contato com você</h1>
                        <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="whatsapp" placeholder="Whatsapp"></div>
                        <br>
                        <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="discord" placeholder="Discord"></div>
                    <br>
                         <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="instagram" placeholder="Instagram"></div>
                    <br>
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="twitter" placeholder="Twitter"></div>
                    <br>
                    <br>
                    <div class="pronto_button">
                        <button type="submit">Tudo pronto!</button></div>
 
                </form>
         </div>
        </div>