
<div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                {{#each feed}}
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="imagens/{{nome}}.jfif" alt="" class="card-image">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">{{nome}}</h2>
                        <p class="description">{{curso}}</p>

                        <a href="/lalala/:{{matricula}}"><button class="button">Ver perfil</button></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>

    </div>

    <script src="js/swiper-bundle.min.js"> </script>

    <script src="js/feed.js">   </script>
