<div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="imagens/pessoa.png" alt="" class="card-image">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Fabio</h2>
                        <p class="description">Engenharia de software</p>

                        <button class="button">Conectar</button>
                    </div>
                </div>   <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="imagens/pessoa.png" alt="card-image" class="card-image">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">José</h2>
                        <p class="description">Engenharia Aeroespacial</p>

                        <button class="button">Conectar</button>
                    </div>
                </div><div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="imagens/pessoa.png" alt="" class="card-image">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Isabella</h2>
                        <p class="description">Engenharia automotiva</p>

                        <button class="button">Conectar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>

    </div>

    <script src="../public/js/swiper-bundle.min.js"> </script>

    <script src="../public/js/feed.js">   </script>
