 <section>
        <div class="box">
            <img src='imagens/rose.png'>
            <h1>Uniconnect</h1>
            <br>
            <p>Conecte-se além da sala de aula</p>
            <div class="login-button">
                <a href="/login"><button class="login-button">Login</button></a>
            <div class="cadastro-button">
                <a href="/cadastrodeusuarios"><button class="cadastro-button">Cadastro</button></a>
            </div>
            </div>
        </div>
    </section>
    
