<form action="/add-interesses" method="POST">

    <label for="musicas">Músicas</label>
    <select id="musicas" name="musicas">
        <option value="pop">Pop</option>
        <option value="rock">Rock</option>
        <option value="rap">Rap</option>
        <option value="funk">Funk</option>
        <option value="indie">Indie</option>
        <option value="axé">Axé</option>
        <option value="pagode">Pagode</option>
        <option value="r&b">R&B</option>
        <option value="metal">Metal</option>
        <option value="sertanejo">Sertanejo</option>
    </optgroup>
    </select>

    <label for="jogos">Jogos</label>
    <select id="jogos" name="jogos">
        <option value="league of legends">League of Legends</option>
        <option value="fall guys">Fall Guys</option>
        <option value="gta">GTA</option>
        <option value="call of duty">Call of Duty</option>
        <option value="fortnite">Fortnite</option>
        <option value="dota">Dota</option>
        <option value="valorant">Valorant</option>
        <option value="undertale">Undertale</option>
        <option value="minecraft">Minecraft</option>
        <option value="rocket league">Rocket League</option>
    </optgroup>
    </select>

    <label for="filmes">Filmes</label>
    <select id="filmes" name="filmes">
        <option value="ação e aventura">Ação e Aventura</option>
        <option value="drama">Drama</option>
        <option value="comédia romantica">Comédia romântica</option>
        <option value="ficção cientifica">Ficção científica</option>
        <option value="terror">Terror</option>
        <option value="comedia">Comédia</option>
        <option value="romance">Romance</option>
        <option value="suspense">Suspense</option>
        <option value="animação">Animação</option>
        <option value="documentário">Documentário</option>
    </optgroup>
    </select>


    <label for="livros">Livros</label>
    <select id="livros" name="livros">
            <option value="não ficção">Não Ficção</option>
            <option value="ficção literária">Ficção literária</option>
            <option value="fantasia">Fantasia</option>
            <option value="suspense">Suspense</option>
            <option value="ficção cientifica">Ficção científica</option>
            <option value="poesia">Poesia</option>
            <option value="horror">Horror</option>
            <option value="romance">Romance</option>
            <option value="ação e aventura">Ação e Aventura</option>
            <option value="distopia">Distopia</option>
        </optgroup>
        </select>

    <label for="esportes">Esportes</label>
    <select id="esportes" name="esportes">
                <option value="futebol">Futebol</option>
                <option value="voleibol">Voleibol</option>
                <option value="basquete">Basquete</option>
                <option value="esportes automobilisticos">Esportes automobilísticos</option>
                <option value="mma">MMA</option>
                <option value="tenis">Tênis</option>
                <option value="futebol americano">Futebol americano</option>
                <option value="rugby">Rugby</option>
                <option value="ginastica">Ginástica</option>
                <option value="atletismo">Atletismo</option>
            </optgroup>
            </select>

    <label for="educação">Educação</label>
    <select id="educação" name="educação">
                    <option value="matematica">Matemática</option>
                    <option value="quimica">Química</option>
                    <option value="fisica">Física</option>
                    <option value="programação">Programação</option>
                    <option value="eletronica">Eletrônica</option>
                    <option value="filosofia">Filosofia</option>
                    <option value="astronomia">Astronomia</option>
                    <option value="automotiva">Automotiva</option>
                    <option value="geografia">Geografia</option>
                    <option value="biologia">Biologia</option>
                </optgroup>
                </select>
</select>
 <button type="submit">Finalizar cadastro.</button>
</form>