
         <div class="login_body">
         <div class="login_box">
            <div class="form-image">
                <span><img height="50px" src="imagens/rose.png" alt="logo"></span>

                    <div class="input_grup">
                    <h1>Bem-vindo de volta!</h1>
                    <form action="/validar-login" method="POST">

                    <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="matricula" placeholder="Matrícula"></div>
                    <br>
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="password" name="senha" placeholder="Senha"></div>
                    
                    <br>
                    <div class="pronto_button">
                        <button type="submit">Entrar</button></div>
                    </form>
 
                </form>
         </div>
        </div>