<h1>Perfil usuario</h1>

Nome: {{nome}} <br>
Curso: {{curso}}<br>

<a href="/logout"><button>Sair</button></a>
<a href="/feed"><button>Ir ao feed</button></a>
<a href="/perfil/edit"><button>Editar perfil</button></a>
