<h1>Ingresse numa sala </h1>

<a href="/chatesportes"><button>Esportes</button></a> 

<a href="/chatmusicas"><button>Músicas</button></a> 

<a href="/chatfilmes"><button>Filmes</button></a> 

<a href="/chatlivros"><button>Livros</button></a> 

<a href="/chatestudos"><button>Estudos</button></a> 

<a href="/chatjogos"><button>Jogos</button></a> 
 <br>

