<h1>redes sociais</h1>
<form action="/add-redessociais" method="POST">
    <label>Whatsapp</label>
    <input type="text" name="whatsapp">
    <br>
    <label>Discord</label>
    <input type="text" name="discord">
<br>
    <label>Instagram</label>
    <input type="text" name="instagram">
<br>
    <label>Twitter</label>
    <input type="text" name="twitter">
<br>
    <button type="submit">Próxima etapa</button>
</form> 