@import url('https://fonts.googleapis.com/css2?family=Allura&family=Arizonia&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;1,100&family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../imagens/background.jpg');
    background-size: 100%;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 40px 0;
}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card{
    width: 320px;
    border-radius: 25px;
    background-color: #ffff;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    border-radius: 25px 25px 0 25px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: #FF5D73;

}
.overlay::before,
.overlay::after{
    content:"";
    position:absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #FF5D73;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #ffff;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #FF5D73;
}

.name{
    font-size:18px;
    font-weight: 500;
    color: #FF5D73;
}

.description{
    font-size: 14px;
    color:#000000;
    text-align: center;
}

.button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #FF5D73;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button hover{
    background: #4070F4;
}

.swiper-pagination-bullet{
    background-color: #FF5D73;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #4070F4;
}

.voltar-button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #FF5D73;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    top: 10px;
}

a {
    text-decoration: none;
    color:#FFF 
}

.perfil-button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #FF5D73;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}